<div class="shadow-xl/30 w-2xl h-auto px-2 py-2">
  <p class="text-gray-600 text-xl">First name: {{ user.first_name }}</p>
  <p class="text-gray-600 text-xl">Last name: {{ user.last_name }}</p>
  <p class="text-gray-600 text-xl">Email: {{ user.email }}</p>
  <p class="text-gray-600 text-xl">Country: {{ user.country }}</p>
  <p class="text-gray-600 text-xl">City: {{ user.city }}</p>
  <p class="text-gray-600 text-xl">Address: {{ user.address }}</p>
  <p class="text-gray-600 text-xl">Postal code: {{ user.postal_code }}</p>
</div>
