{% extends 'base.html' %}
{% block header %}
  {% include 'main/header.html' %}
{% endblock %}

{% block content %}
  <div class="flex lg:mx-8 lg:my-4">
    <div class="mr-3">
      <ul class="space-y-1">
        {% if categories %}
          <li>
            <a href="{% url 'main:catalog_all' %}" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">all</a>
          </li>
          {% for category in categories %}
            <li>
              <a href="{% url 'main:catalog' category.slug %}" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">{{ category.name }}</a>
            </li>
          {% endfor %}
          <p class="text-xl text-gray-900">FILTERS</p>
        {% else %}
          <p class="text-gray-900 text-2xl">No avalible categories</p>
        {% endif %}
      </ul>
    </div>
    <div>
      {% if products %}
        {% include 'main/partials/items_catalog.html' %}
      {% else %}
        <p>NO AVALIBLE PRODUCTS</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
