<header>
  <div class="mx-auto my-4 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <div>
      <a href="{% url 'main:index' %}"><h1 class="text-gray-900 text-6xl hover:text-gray-600 transition-colors duration-300">ShopName</h1></a>
    </div>
    <div>
      <ul class="flex space-x-5">
        <li>
          <a href="{% url 'main:catalog_all' %}" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">shop</a>
        </li>
        <li>
          <a href="#" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">contact</a>
        </li>
        <li>
          <a href="{% url 'users:profile' %}" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">account</a>
        </li>
        <li>
          <a href="{% url 'cart:details' %}" class="text-xl text-gray-900 hover:text-gray-600 transition-colors duration-300">cart ({{ total_items }})</a>
        </li>
      </ul>
    </div>
  </div>
</header>
