<div class="mx-8 my-4 grid grid-cols-1 gap-4 justify-items-center content-center">
  <div class="cols-span-2">
    <h1 class="text-7xl lg:text-9xl font-bold text-gray-900">ShopName</h1>
  </div>
  <nav class="text-lg text-gray-900">
    <ul class="space-x-2 flex">
      <li>
        <a href="{% url 'main:catalog_all' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-300">shop</a>
      </li>
      <li>
        <a href="#" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-300">contact</a>
      </li>
      <li>
        <a href="{% url 'users:profile' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-300">account</a>
      </li>
      <li>
        <a href="{% url 'cart:details' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-300">cart ({{ total_items }})</a>
      </li>
    </ul>
  </nav>
</div>
