{% extends 'base.html' %}
{% block content %}
  <div class="relative h-screen w-full overflow-hidden">
    <div class="absolute inset-0 flex items-center justify-center">
      <form action="{% url 'users:login' %}" method="post" class="shadow-xl/30 mx-w-2xl px-3 py-3">
        {% csrf_token %}
        <div class="grid grid-cols-2 gap-10 mb-6">
          <div>{{ form.username }}</div>
          <div>{{ form.password }}</div>
        </div>
        <div class="grid grid-cols-2 gap-10">
          <button type="submit" class="text-center text-xl px-3 py-3 border-1 border-gray-900 hover:text-gray-200 hover:bg-gray-900 transition-color duration-700">Log in</button>
          <a href="{% url 'users:register' %}" class="text-center text-xl px-3 py-3 border-1 border-gray-900 hover:text-gray-300 hover:bg-gray-900 transition-color duration-700">Create account</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
